<!DOCTYPE html>
<html>
    <head>

        <title>Adminpanel</title>

        <%- include ./includes/head.ejs %>
    </head>
    <body>
        <%- include includes/navbar.ejs %>
        <div class="container">
            <h4><%= lang.admin_welcome %></h4>
            <% if(message) {%>
                <p class="red-text"><%= message %></p>
            <% } %>
            <div class="row">
                <div class="col s6">
                    <h5><%= lang.create_user %></h5>
                </div>
            </div>

            <div class="row">
                <form id="createUserForm" class="col s12" action="">
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" id="first_name" name="first_name" class="validate">
                            <label for="first_name"><%= lang.first_name %></label>
                        </div>
                        <div class="input-field col s6">
                            <input type="text" id="last_name" name="last_name" class="validate">
                            <label for="last_name"><%= lang.last_name %></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" id="username" name="username" class="validate">
                            <label for="username"><%= lang.username %></label>
                        </div>
                        <div class="input-field col s6">
                            <input type="password" id="password" name="password" class="validate">
                            <label for="password"><%= lang.password %></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" id="email_address" name="email_address" class="validate">
                            <label for="email_address" data-error="<%=  lang.data_error1  %>"><%= lang.customer_email %></label>
                        </div>
                        <div class="input-field col s6">
                            <input type="text" id="costumerid" name="costumerid" class="validate">
                            <label for="costumerid"><%= lang.customer_id %></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <input type="checkbox" id="isAdmin" name="isAdmin">
                            <label for="isAdmin"><%= lang.isAdmin %></label>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn waves-effect waves-light indigo darken-2" type="submit" name="createUser"><%= lang.sendUser %>
                            <i class="material-icons right">send</i>
                        </button>

                    </div>

                </form>
            </div>
            <div class="row">
                <h5><%= lang.manage_user %></h5>
            </div>
            <div class="row">
                <ul class="collapsible" data-collapsible="accordion">

                    <% for(let i = 0; i < dbUsers.length; i++){%>
                        <li>
                            <div class="right" style="margin: 15px 10px 0 0"><i style="cursor: pointer" class="material-icons" onclick="deleteUser(this, '<%= dbUsers[i].username %>')">clear</i></div>
                            <div class="right" style="margin: 15px 10px 0 0"><i class="material-icons"><a href="/admin/edituser?user=<%= dbUsers[i].username %>">create</a></i></div>
                            <div class="right" style="margin: 15px 10px 0 0"><i style="cursor: pointer" class="material-icons" onclick="openModal('<%= dbUsers[i].username %>','#create_assignment', null,null ,1)">add</i></div>
                            <div class="collapsible-header"><i class="material-icons">account_circle</i><%= lang.customer_id %>: <%= dbUsers[i].costumerid %> | <%= lang.username %>: <%= dbUsers[i].username %></div>
                            <div class="collapsible-body">
                                <ul class="collapsible" data-collapsible="accordion">
                                    <% for(let y = 0; y < dbUsers[i].dir.length; y++){ %>
                                    <li added="false" id="<%= dbUsers[i].dir[y] %>" onclick="getFiles(this,'<%= dbUsers[i].username %>')">
                                        <!--<div class="right" style="margin: 15px 10px 0 0"><a href="/files/<%= dbUsers[i].username %>/bills/<%= dbUsers[i].dir[y] %>">Rechnung</a></div> -->
                                        <div class="right" style="margin: 15px 10px 0 0"><a href="/data/bills/<%=dbUsers[i].username %>/<%= dbUsers[i].dir[y] %>/bill.pdf"><%= lang.bill %></a></div>
                                        <div class="right" style="margin: 15px 10px 0 0"><i style="cursor: pointer" class="material-icons" onclick="deleteThis(this,'<%= dbUsers[i].dir[y] %>', '<%= dbUsers[i].username %>')">clear</i></div>
                                        <div class="collapsible-header"><%= dbUsers[i].dir[y] %></div>
                                    </li>
                                    <% } %>
                                </ul>
                            </div>
                        </li>
                    <% } %>
                </ul>

            </div>
        </div>
        <div id="create_assignment" class="modal">

                <form id="create_assignment_form" action="/admin/createassignment" class="col s12" encType="multipart/form-data" method="POST">
                    <div class="modal-content">
                        <h5><%= lang.create_assignment %></h5>
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" id="assignment_name" name="assignment_name" class="validate">
                            <label for="assignment_name"><%= lang.job_name %></label>
                        </div>
                    </div>
                    <h6><%= lang.add_files %></h6>
                    <div class="row">
                        <div class="file-field input-field">
                            <div class="btn waves-effect waves-light indigo darken-2">
                                <span><%= lang.choose %></span>
                                <input type="file" multiple name="userData" id="userData">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="<%= lang.placeholder2 %>">
                            </div>
                        </div>
                    </div>
                    <h6><%= lang.bill %></h6>
                    <div class="row">
                        <div class="file-field input-field">
                            <div class="btn waves-effect waves-light indigo darken-2">
                                <span><%= lang.choose %></span>
                                <input type="file" name="bill" id="bill">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="<%= lang.placeholder3 %>">
                            </div>
                        </div>

                    </div>
            </div>


            <div class="modal-footer">

                <a href="#!" class="modal-close btn-flat waves-effect waves-blue"><%= lang.donot %></a>
                <button class="modal-close btn-flat waves-effect waves-blue" type="submit" name="createAssignmentButton"><%= lang.sendUser %></button>
            </div>
                </form>

        </div>
        <div id="showPicture" class="modal">
            <div class="modal-content">

            </div>
            <div class="modal-footer">

                <a href="#" class="modal-close btn-flat">Abbrechen</a>
            </div>
        </div>
        <%- include includes/footer.ejs %>
    </body>
</html>
