<html>
    <head>

        <title>Edit User</title>
        <%- include includes/head.ejs %>
    </head>
    <body>
    <%- include includes/navbar.ejs %>
    <div class="container">
        <% if(message){ %>
        <div class="center">
            <h2><%= message %></h2>
        </div>
        <% } else {%>
        <h3><%= lang.change_password %></h3>
        <form id="changePw" onsubmit="return changePassword(this)">
            <div class="row">
                <div class="input-field col s12 m6">
                    <input type="password" name="newPassword" id="newPassword" class="validate">
                    <label for="newPassword"><%= lang.newPassword %></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input type="password" name="repeatPassword" id="repeatPassword" class="validate">
                    <label for="repeatPassword"><%= lang.repeatPassword %></label>
                </div>
            </div>
            <div>
                <input type="hidden" name="userId" id="userId" value="<%= userToEdit %>">
            </div>
            <div class="row">

                <button type="submit" class="btn waves-effect waves-light indigo darken-2">
                    <%= lang.reset %>
                </button>
            </div>

        </form>
        <% } %>
    </div>

    </body>
    <%- include includes/footer.ejs %>
</html>