<html>
    <head>
        <meta charset="utf-8">
        <title>Nutzer Bearbeiten</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
    <nav class="indigo darken-2 nav">
        <div class="container">
            <div class="nav-wrapper" role="navigation"><a href="#" class="brand-logo"><%= title %></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/admin"><%= lang.home %></a></li>
                    <li><a href="/settings"><%= lang.settings %></a></li>
                    <li><a href="/files/<%= user.username %>"><%= lang.userPerspective %></a></li>
                    <li><a href="/logout"><%= lang.logout %></a></li>
                </ul>
            </div>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="/files/<%= user.username %>" class="black-text"><%= lang.home %></a></li>
                <li><a href="/settings" class="black-text"><%= lang.settings %></a></li>
                <li><a href="/files/<%= user.username %>" class="black-text"><%= lang.userPerspective %></a></li>
                <li><a href="/logout" class="black-text"><%= lang.logout %></a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse white-text left"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="container">
        <% if(message){ %>
        <div class="center">
            <h2><%= message %></h2>
        </div>
        <% } else {%>
        <h3><%= lang.change_password %></h3>
        <form id="changePw" onsubmit="return changePassword(this, '/admin/changepw')">
            <div class="row">
                <div class="input-field col s12 m6">
                    <input type="password" name="newPassword" id="newPassword" class="validate">
                    <label for="newPassword"><%= lang.newPassword %></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input type="password" name="repeatPassword" id="repeatPassword" class="validate">
                    <label for="repeatPassword"><%= lang.repeatPassword %></label>
                </div>
            </div>
            <div>
                <input type="hidden" name="userId" id="userId" value="<%= userToEdit %>">
            </div>
            <div class="row">

                <button type="submit" class="btn waves-effect waves-light indigo darken-2">
                    <%= lang.reset %>
                </button>
            </div>

        </form>
        <% } %>
    </div>

    </body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</html>