<!DOCTYPE html>
<html>
  <head>
    <title>Files</title>
    <%- include ./includes/head.ejs %>
  </head>
  <body>
    <%- include includes/navbar.ejs %>
    <div class="container">
      <div class="row">
        <div class="col s6">
          <h4><%= lang.customer_data %></h4>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <table class="bordered">
            <tbody>
            <tr>
              <td><%= lang.customer_id %></td>
              <td><%= user.costumerid %></td>
            </tr>
            <tr>
              <td><%= lang.customer_name %></td>
              <td><%= user.first_name + " " + user.last_name %></td>
            </tr>
            <tr>
              <td><%= lang.customer_email %></td>
              <td><%= user.email %></td>
            </tr>
            </tbody>

          </table>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h4></h4>
        </div>
      </div>
      <div class="row">
        <ul class="collapsible" data-collapsible="accordion">
            <% for(let i = 0; i < directories.length; i++){ %>
          <li added="false" id="<%= directories[i] %>" onclick="getFiles(this,'<%= user.username %>')">
            <!--<div class="right" style="margin: 15px 10px 0 0"><a href="<%= user.username%>/bills/<%= directories[i] %>">Rechnung</a></div>-->
            <div class="right" style="margin: 15px 10px 0 0"><a href="/data/bills/<%= user.username %>/<%= directories[i] %>/bill.pdf"><%= lang.bill %></a></div>
              <div class="collapsible-header"><i class="material-icons">card_travel</i><%= directories[i] %></div>

          </li>
            <% } %>
        </ul>
      </div>
    <div id="showPicture" class="modal">
      <div class="modal-content">

      </div>
      <div class="modal-footer">

        <a href="#" class="modal-close btn-flat">Abbrechen</a>
      </div>
    </div>
    </div>

    <%- include includes/footer.ejs %>

  </body>
</html>
