<nav class="indigo darken-2 nav">
    <div class="container">
        <div class="nav-wrapper" role="navigation"><a href="#" class="brand-logo"><%= title %></a>
            <ul class="right hide-on-med-and-down">
                <% if(user.isAdmin){%>
                <li>
                    <a href="/admin"  class="right"><%= lang.home %></a><br>
                </li>
                <% } else {%>
                <li>
                    <a href="/files/<%= user.username %>"><%= lang.home %></a>
                </li>
                <%}%>
                <li><a href="/settings"><%= lang.settings %></a></li>
                <li><a href="/logout"  class="right"><%= lang.logout %></a></li>
            </ul>
        </div>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="/files/<%= user.username %>" class="black-text"><%= lang.home %></a></li>
            <li><a href="/settings" class="black-text"><%= lang.settings %></a></li>
            <% if(user.isAdmin){%>
            <li>
                <a href="/admin" class="black-text"><%= lang.admin %></a>
            </li>
            <% }%>
            <li><a href="/logout" class="black-text"><%= lang.logout %></a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse white-text left"><i class="material-icons">menu</i></a>
    </div>
</nav>